APPLICATION_INSIGHTS_CONNECTION_STRING=<add your application insights connection string here>
AZURE_OPENAI_ENDPOINT=<add your Azure OpenAI endpoint here>
AZURE_OPENAI_CHAT_DEPLOYMENT=<add your Azure OpenAI chat deployment name here>
AZURE_OPENAI_VERSION=2024-08-01-preview
AZURE_AI_PROJECT_ENDPOINT=https://azure-ai-agents-demo.services.ai.azure.com/api/projects/firstProject
AZURE_OPENAI_RESPONSES_DEPLOYMENT_NAME=gpt-4.1
